extends layout

block content
	h1 Movie age calculator!
	ul
		for movie in movies
			li.card-panel
				div.top.blue.lighten-5
					h3= movie.original_title
				div.middle.blue.lighten-4
					button(data-movid='#{movie.id}', class='movie-btn btn') Calculate age
				div.bottom
					h5 Average age:
					div.age
						h2 ?
	if page > 1
		h3
			a.prev-page(href="/#{page - 1}") <
	if page < maxPage
		h3
			a.next-page(href="/#{page + 1}") >
