body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

li {
	text-align: center;

	width: 30%;
	margin: 1.5% !important;
	min-height: 500px;
	float: left;
}

h3 {
	margin: 0;
	margin-top: 15px;
}

.card-panel {
	padding: 0;
}


div.top {
	min-height: 220px;
	padding: 15px;
}

div.middle {
	height: 72px;
	padding: 18px;
}

.movie-btn {
	bottom: 0px;
}

.preloader-wrapper {
	margin-top: 20px;
}

.next-page {
	float: right;
	position: fixed;
	right: 0;
	top: 50%;
}

.prev-page {
	float: left;
	position: fixed;
	top: 50%;
	display: block;
	margin-left: -50px;
}